body {
    background: linear-gradient(107.56deg, #3C096C 0%, #5A189A 100%);
    padding: 2rem 2rem;   
    font-family: 'Signika';
    background-attachment: fixed;
}

/* Texts */
a, h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

p {
    color: #CFCFCF;
    text-decoration: none;
    font-weight: bold;
    margin-top: -0.3rem;
}

.color-text-orange {
    color: #FF9E00;
}

/* Menu */
.menu-container {
    width: 90rem;
    height: 4rem;
    background: linear-gradient(107.56deg, #5A189A 100%, #4D0E8A 100%);
    border-radius: 8px;
}

.menu-container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-image {
    margin: -0.5rem 2rem;
    width: 5rem;
    height: 5rem;
}

.menu-padding {
    margin: -0.5rem 2rem;
}

/* Manual */
.more-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90rem;
    margin-top: 4rem;
}

.more-button {
    color: #FFFFFF;
    background-color: #FF9E00;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.more-image {
    width: 35rem;
    height: 30rem;
}

.more-text {
    width: 8rem;
}

/* More */
.learn-container {
    margin-top: 4rem;
    padding: 2rem 0rem;
    background-color: #5A189A;
    display: flex;
    border-radius: 8px;
    width: 90rem;
}

.learn-image {
    width: 30rem;
    height: 15rem;
}

.learn-text {
    margin: 6rem 4rem 0rem;
    width: 40rem;
}

/* Stack */
.stack-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90rem;
}

.stack-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.stack-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15rem;
    margin: 1rem 2rem;
    padding: 2rem 1rem;
    background-color: #5A189A;
    border-radius: 8px;
    text-align: center;

}  

.stack-image {
    width: 15rem;
    height: 10rem;
    padding-bottom: 3rem;
}  

/* Time */
.time-container {
    background: #3A0969;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 90rem;
}

.time-title {
    padding-top: 1rem;
}

.time-button {
    margin: 2rem;
    color: #FFFFFF;
    background-color: #FF9E00;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

/* Footer */
.footer-container {
    background: #240046;
    width: 90rem;
    height: 8rem;
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.footer-image {
    width: 5rem;
    height: 5rem;
}

.footer-padding {
    margin: 0rem 0.5rem;
}

.footer-copyright {
    padding-top: 2rem;
}