/* References */
.references-container{
    padding: 0.5rem 0rem;
}

.table-container {
    background-color: #5A189A;
    width: 90rem;
    margin-bottom: 1rem;
}

table {
    width: 90rem;
}

/* Footer References */
.references-footer {
    background: #240046;
    width: 90rem;
    height: 8rem;
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}
