/* References */
.references-title {
    padding: 0.5rem 0rem;
    width: 90rem;
}

.references-container {
    padding-bottom: 1rem;
}

.references-cards {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90rem;
}

.references-card {
    min-width: 20rem;
    max-width: 20rem;
    height: 10rem;
    background: #5A189A;
    border-radius: 8px;
    margin: 0.5rem 1rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 1rem 1rem;
}

/* Footer References */
.references-footer {
    background: #240046;
    width: 90rem;
    height: 8rem;
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

@media screen and (min-width: 1024px)
{
    .references-title {
        margin-left: 10rem;
    }
    .references-container {
        margin-left: 10rem;
    }
    .references-footer {
        margin-left: 10rem;
    }
}